* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
    padding: 2rem;
  }
  .logo h2 {
    font-size: 1.5rem;
  }
  header nav ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  header nav ul li {
    padding: 0.5rem;
  }
  header nav ul li a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  header nav ul li .btn {
    background: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    header nav {
      z-index: 1000;
    }
    header nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: #003366;
      padding: 2rem;
    }
    header nav ul.active {
      display: flex;
    }
    
    .home:hover,
    .about:hover,
    .contact:hover {
      background: #ff9900df;
      transition: background 0.3s ease-in-out;
    }
  }
  

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.service {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
}

.service img {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.serviceHero {
  width: 100%;
  height: 50vh;
  background-color: #f18c48;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.serviceHero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.serviceHero span {
    color: #d9d9d9
}

.serviceHero span a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}