@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "asap", sans-serif;
  background-color: rgba(255, 255, 255, 0.874);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #003366;
  color: white;
  padding: 2rem;
}
.logo h2 {
  font-size: 1.5rem;
}
header nav ul {
  position: relative;
  list-style: none;
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}
header nav ul li {
  padding: 0.5rem;
}
header nav ul li a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li .btn {
  background: #ff6600;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  header nav {
    /* position: relative; */
    z-index: 1000;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #003366;
    padding: 2rem;
  }
  header nav ul.active {
    display: flex;
  }
  
  .home:hover,
  .about:hover,
  .contact:hover {
    background: #ff9900df;
    transition: background 0.3s ease-in-out;
  }
}
.hero {
  position: relative;
  color: white;
  padding: 11rem 2rem;
  background: url("../img/truck.jpg") center/cover no-repeat;
}
.hero::before,
.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 27, 51, 0.8);
}
.working-hours::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 153, 0, 0.75); */
  background: rgba(255, 102, 0, 70%);
}
.hero-content,
.newsletter-content,
.working-hours-content {
  position: relative;
  z-index: 2;
}
.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 2vmin;
}
.hero p {
  color: white;
}
.hero .btn {
  display: inline-block;
  background: #ff6600;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2vmin;
}

.images-container {
  padding: 0rem 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.images-container img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  @media (max-width: 768px) {
    height: 25vh;
  }
}

.tracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 4rem;
}
.tracking form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
  gap: 3vmin;
}
.tracking input {
  padding: 0.6rem;
  width: 60vmin;
  border-radius: 5px;
}
.tracking button {
  padding: 10px 20px;
  background: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.tracking-result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.working-hours-newletter {
  display: flex;
  /* flex-direction: row; */
  padding: 0 1rem;
  justify-content: center;
  gap: 1vmin;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 0;
    gap: 0;
  }
  @media (max-width: 640px) {
    gap: 0;
    margin-bottom: 0;
  }
}
.newsletter-content h2 {
  font-size: 1.2rem;
}

.working-hours-content h2 {
  font-size: 1.2rem;
}

.newsletter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vw;
  color: white;
  background: url("../img/newsletter.jpeg") center/cover no-repeat;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 0.8rem;
  }
}
.working-hours {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2.5vw;
  color: white;
  background: url("../img/workinghours.avif") center/cover no-repeat;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 0.8rem;
  }
}
.newsletter input {
  padding: 0.6rem;
  width: 35vmin;
  border-radius: 5px;
}
.newsletter button {
  padding: 10px 20px;
  background: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.working-hours p {
  font-size: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #304153;
}

footer nav {
  background: #253c51;
  width: 100%;
  padding: 1.2rem 0;
}

footer nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
}

footer nav ul li a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  font-size: 0.8rem;
  padding: 1.2rem 0;
  color: #d9d9d9;
}

@media (min-width: 660px) {
  .waiting-text {
    width: 70%;
  }
}

.boxcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  flex-wrap: wrap;
}
.box {
  position: relative;
  width: 20rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  overflow: hidden;
}
.box .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.7); */
  /* background: rgba(4, 27, 51, 0.8); */
  background: rgba(255, 102, 0, 70%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: bottom 0.5s ease-in-out;
}
.box:hover .overlay {
  bottom: 0;
}
.box:nth-child(1) {
  background-image: url("../img/track-package.webp");
}
.box:nth-child(2) {
  background-image: url("../img/real-time.avif");
}
.box:nth-child(3) {
  background-image: url("../img/manage.jpg");
}
